
<div class="container" id="container">
  <div class="login-container">
    <h1>Portfolio-Manager Login</h1>
    <form (ngSubmit)="onSubmit()" #LoginForm="ngForm">
      <!-- <label for="name">Name:</label>
      <input type="text" id="name" required> -->
      <label for="login-id">Login ID:</label>
      <input type="text" name="loginid" id="loginid" [(ngModel)]="loginid" required>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" [(ngModel)]="password" required>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a routerLink="/portfolioSignUp">Sign Up</a>
      <a> / </a>
      <a routerLink="/home" class="home-icon" style="color: #090909;">&#8962;</a>
    </p>
  </div>
  <!-- <script src="investor-login.js"></script> Link to your investor-login.js file -->
</div>

